:root{
  background-color: #A9F5BC;
  text-color: black;
  font-family: Raleway, monospace;
}

#header{
  max-width: inherit;
  margin: 0, 0, 0, 0;
  border-style: solid;
  border-width: 5px;
  border-color: black
}
.hs{
  color: white;
}
